In [6]:
import pandas as pd

d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

df = pd.DataFrame(data=d)

print(df)

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

In [7]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [8]:
data = [
    ['Alice', 25, 'New York'],
    ['Bob', 30, 'Los Angeles'],
    ['Charlie', 35, 'Chicago']
]
df = pd.DataFrame(data, columns=['Name', 'Age', 'City'])
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [9]:
data = [
    {'Name': 'Alice', 'Age': 25, 'City': 'New York'},
    {'Name': 'Bob', 'Age': 30, 'City': 'Los Angeles'},
    {'Name': 'Charlie', 'Age': 35, 'City': 'Chicago'}
]
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [19]:
import numpy as np

data = np.array([
    ['Alice', 25, 'New York'],
    ['Bob', 30, 'Los Angeles'],
    ['Charlie', 35, 'Chicago']
])
print("DATA:",data, "\n")
df = pd.DataFrame(data, columns=['Name', 'Age', 'City'])
print(df)

DATA: [['Alice' '25' 'New York']
 ['Bob' '30' 'Los Angeles']
 ['Charlie' '35' 'Chicago']]

      Name Age         City
0    Alice  25     New York
1      Bob  30  Los Angeles
2  Charlie  35      Chicago

In [27]:
df = pd.DataFrame(columns=['Name', 'Age', 'City','Nation',])

# Adding rows
df.loc[0] = ['Alice', 25, 'New York', 'USA']
df.loc[1] = ['Bob', 30, 'Los Angeles','Bangladesh']
df.loc[2] = ['Charlie', 35, 'Chicago','Bangla']
df.loc[3] = ['kawsar', 35, 'Nokia','BD']
print(df)

      Name  Age         City      Nation
0    Alice   25     New York         USA
1      Bob   30  Los Angeles  Bangladesh
2  Charlie   35      Chicago      Bangla
3   kawsar   35        Nokia          BD

In [30]:
#DataFrame Using a Range of Numbers
df = pd.DataFrame({
    'Numbers': range(1, 21),
    'Squares': [x**2 for x in range(1, 21)]
    
})
print(df)

    Numbers  Squares
0         1        1
1         2        4
2         3        9
3         4       16
4         5       25
5         6       36
6         7       49
7         8       64
8         9       81
9        10      100
10       11      121
11       12      144
12       13      169
13       14      196
14       15      225
15       16      256
16       17      289
17       18      324
18       19      361
19       20      400

In [31]:
date_range = pd.date_range(start='2024-01-01', end='2024-01-10')
df = pd.DataFrame({'Date': date_range, 'Value': range(10)})
print(df)

        Date  Value
0 2024-01-01      0
1 2024-01-02      1
2 2024-01-03      2
3 2024-01-04      3
4 2024-01-05      4
5 2024-01-06      5
6 2024-01-07      6
7 2024-01-08      7
8 2024-01-09      8
9 2024-01-10      9

In [34]:
#Random Data
df = pd.DataFrame({
    'A': np.random.randint(1, 100, 10),
    'B': np.random.randn(10),
    'C': np.random.choice(['X', 'Y', 'Z'], 10)
})
print(df)

    A         B  C
0  89 -0.280149  Y
1  91 -1.490716  X
2  95  1.379710  Y
3  63 -0.863413  Z
4  15 -1.350724  X
5  15 -0.432699  Z
6  72 -0.076273  Y
7  21  2.422485  Z
8  71  1.798919  Y
9  32  1.781182  Y

In [35]:
#Hierarchical (MultiIndex)
arrays = [
    ['A', 'A', 'B', 'B'],
    [1, 2, 1, 2]
]
df = pd.DataFrame(
    data=[[10, 20], [30, 40], [50, 60], [70, 80]],
    index=pd.MultiIndex.from_arrays(arrays, names=('Group', 'ID')),
    columns=['Value1', 'Value2']
)
print(df)

          Value1  Value2
Group ID
A     1       10      20
      2       30      40
B     1       50      60
      2       70      80